
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 121, 244);
    font-weight: bold;
}

#content{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 20px;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
}

#imgAhorcado{
    border: 1px solid red;
    margin: 10px;
    width: 100%;
}

#right{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
}

#palabra{
    width: 5%;
}